<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'products' %}">Search Product</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'report' %}">Report</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/logo.png' %}" alt="" height="200">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'products' %}">Search Product</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'report' %}">Report</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="to-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'login.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Sprite</h2>
                        <div class="bt-option">
                            <a href="{% url 'home' %}">Home</a>
                            
                            <span>SearchProduct</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                < class="col-lg-6">
                    <!-- CODE HERE -->

                   
                      <!-- Content 1 -->
                      <div id="content">
                        <div class="donut-chart-container">
                          <canvas id="donutChart"></canvas>
                        </div>
                      </div>
                <div class="col-lg-6">
                    <div class="section-title contact-title">
                        <span>Sprite</span>
                        <h2>Admin dashboard</h2>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i class="fa fa-indent"></i>
                            <p>INGREDIENTS<br/> Carbonated Water, High Fructose Corn Syrup, Citric Acid, Natural Flavors, Sodium Citrate, Sodium Benzoate</p>
                        </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i class="fa fa-indent"></i>
                            <p>ADDITIVES<br/> Sodium Benzoate </p>
                        </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i class="fa fa-indent"></i>
                            <p>FOOD COLOURING<br/> None</p>
                        </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i class="fa fa-indent"></i>
                            <p>RECOMMENDED CONSUMPTION<br/> 100 - 200 servings (in ml) per day</p>
                        </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i class="fa fa-indent"></i>
                            <p>MIN-AGE FOR CONSUMPTION<br/> 10 years</p>
                        </div>
                        
                    </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <img src="{% static 'images/E.png' %}" alt="" style="width: 100px; height: 50px;">
                            <p>Very Poor Nutrition</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

   




    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="" alt=""></a>
                        </div>
                        <p>The FDA upholds moral integrity by prioritizing public health in its regulatory endeavors. Guided by ethical principles, it ensures safety and transparency in the food and drug industries, safeguarding consumer well-being.</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Search</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Search</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Report</a></li>
                            <li><a href="#">Search</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Tips & Guides</h4>
                        <div class="fw-recent">
                            <h6><a href="#">Inspect, regulate, educate: Ensuring safety, health, transparency in consumption.</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                        <div class="fw-recent">
                            <h6><a href="#">Empower consumers with knowledge; enforce regulations for safer products.</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved   <i class="fa fa-heart" aria-hidden="true"></i> by CapsLock</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->


    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script> 


    <script>
      // Data for Chart 1
      const labels = ['ENERGY', 'PROTEIN', 'CARBOHYDRATES', 'SUGAR', 'TOTAL FAT', 'SATURATED FAT', 'TRANS FAT', 'SODIUM'];
      const sizes = [70.5, 7, 54.7, 6, 33, 13, 0.1, 0.067];
      const data = {
        labels: labels,
        datasets: [{
          data: sizes,
          backgroundColor: [
            '#E64C65',
            '#11A8AB',
            '#4FC4F6',
            '#FFD700',
            '#FF6347',
            '#8A2BE2',
            '#32CD32',
            '#808080'
          ]
        }]
      };
      const options = {
        cutoutPercentage: 70,
        responsive: true,
        maintainAspectRatio: false
      };
      const ctx = document.getElementById('donutChart').getContext('2d');
      new Chart(ctx, { type: 'doughnut', data: data, options: options });
    </script>
</body>

</html>